{% load static %}
<html>
<head>
    <title>Employee Data</title>
{% include 'cdinlines.html' %}
</head>

<body>
{% include 'navbar.html' %}
<style>
    a{
        font-size:20px;
    }
    a:hover{
        color: red;
        font-size: 23px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <a href="{% url 'home_page' %}">Go to Home</a>
        </div>
        <div class="col-md-6">
            <h1 class="text-center">Hyderabad Employees Details</h1>
        </div>
        <div class="col-md-3">
            <a href="{% url 'bengaluru' %}">click for banglore</a>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
           <img src="{% static 'images/Biryani_Home.jpg' %}"
                style="width: 100% ;height: 40%; border-radius: 50%" class="img-thumbnail">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/HYDERABAD.jpg' %}"
                 style="width: 100%;height: 40%;border-radius: 50%"class="img-thumbnail ">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/Hyderabad-City.jpg' %}"
                 style="width: 100%;height: 40%;border-radius: 50%"class="img-thumbnail">

        </div>
    </div>
</div>
<div class="container-fluid"  style="margin-top:-500px">
    <div class="row">
        <div class="col-md-12">
            {% if employees %}

                <table class="table table-bordered text-center">
                   <thead class="bg bg-success text-white">
                   <tr>
                       <th>FIRST NAME</th>
                       <th>LAST NAME</th>
                       <th>EMAIL</th>
                       <th>JOB</th>
                       <th>SALARY</th>
                       <th>COMPANY</th>
                       <th>LOCATION</th>
                       <th>ADDRESS</th>
                   </tr>
                   </thead>
                   <tbody>
                     {% for employee in employees %}
                       <tr>
                           <td>{{ employee.first_name }}</td>
                           <td>{{ employee.last_name }}</td>
                           <td>{{ employee.email }}</td>
                           <td>{{ employee.job }}</td>
                           <td>{{ employee.salary }}</td>
                           <td>{{ employee.company }}</td>
                           <td>{{ employee.location }}</td>
                           <td>{{ employee.address }}</td>
                       </tr>

                     {% endfor %}
                   </tbody>
                </table>
            {% endif %}
        </div>
    </div>

</div>

</body>
</html>